nav#nav-bar{
	background-color: #dddddd;
	width: 100%;
}
nav#nav-bar ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	top: 0;
	background-color: #dddddd;
	text-align: center;
}
nav#nav-bar li{
	float: left;
}
nav#nav-bar li a{
	display: block;
	padding: 10px;
	background-color: #dddddd;
	text-decoration: none;
}
nav#nav-bar ul li a:hover {
	background-color: #F0F8FF;
}

#onpage{
	text-decoration: underline overline;
	}

/* layout */
main{
	float:right;
	width: 60%;
	margin: 0 5%;	
}
div#extras{
	float: right;
	width: 25%;
	margin: 0 5% 0 0;
}
/* ------------------------------------------------ */

/* style */
h1 {
	color: #A52A2A;
	font-family: Arial, Helvetica, sans-serif;
}
h3{
	color: #A52A2A;
	font-family: Arial, Helvetica, sans-serif; 
}

.p1 {
	background-color: #FFE4C4;
}